.product-sorting {
	margin: 20px auto;
	background-color: #f6f6f6;
	border: 1px solid #e5e5e5;
}
.product-sorting-list {
	padding: 15px 0;
	overflow: hidden;
	white-space: nowrap;
}
.product-sorting-list li {
	display: inline-block;
	padding: 0 28px;
	line-height: 13px;
	border-right: 2px solid #bebebe;
	color: #333;
	font-size: 14px;
	transition: color .3s;
}
.product-sorting-list li > span {
	cursor: pointer;
}
.product-sorting-list li:hover {
	color: #77c111;
}
.product-sorting-list li:first-child {
	border: none;
	font-weight: bold;
}
.product-sorting-list li:first-child:hover {
	color: #333;
}
.product-sorting-list li:last-child {
	border-right: none;
}