/* 电脑等等设备屏幕 */
.banner-info {
	width: 60%;
	height: 358px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -30%;
	margin-top: -179px;
	animation: show 2s ease-out forwards;
}

.banner_explain {
	color: #fff;
	font-size: 18px;
	line-height: 40px;
	margin-top: 40px;
	margin-bottom: 10px;
}

.banner_explain span {
	color: #fff;
	font-size: 20px;
	font-family: "Gabriola";
}

.details {
	width: 20%;
	color: #fff;
	font-size: 14px;
	border: 1px solid #fff;
	background-color: transparent;
	line-height: 40px;
	margin: 40px auto 0;
	display: block;
	transition: background-color 0.3s;
}

.details:hover {
	background-color: rgba(119, 193, 17, .6);
}

.index-title {
	width: 1200px;
	margin: 100px auto 0;
	height: 100px;
	padding-top: 40px;
	background-image: url('../../../Images/title_pic.png');
	background-repeat: no-repeat;
	background-position: center;
	color: #333;
	font-size: 32px;
	text-align: center;
}

.index-title p {
	color: #595959;
	font-size: 14px;
}

.banner-info-phone {
	display: none;
}


/* iPad等移动设备屏幕 */
@media (max-width: 1200px) {
	.banner-info {
		width: 98%;
		height: auto;
		position: relative;
		left: 0;
		top: 0;
		margin: 20px auto 0;
		padding: 1%;
	}

	.banner-info-logo {
		width: 20%;
	}

	.banner_explain {
		color: #333;
		font-size: 13px;
		line-height: 30px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.banner_explain span {
		color: #333;
		font-size: 12px;
	}

	.banner-info-divider {
		display: none;
	}

	.details {
		width: 40%;
		color: #fff;
		font-size: 14px;
		border: 1px solid #77c111;
		background-color: #77c111;
		border-radius: 5px;
		line-height: 30px;
		margin: 30px auto 0;
	}

	.details:hover {
		background-color: #77c111;
	}

	.index-title {
		width: 100%;
		background-size: 80px;
		padding-top: 60px;
		font-size: 22px;
		margin-top: 0;
	}

	.index-title p {
		font-size: 12px;
	}

	.banner-info-pc {
		display: none;
	}

	.banner-info-phone {
		display: block;
		overflow: hidden;
	}
}


/* 手机等设备屏幕 */
@media (max-width: 768px) {
	.banner-info-logo {
		width: 30%;
	}
}