/* 电脑等等设备屏幕 */
.index-service-content {
	overflow: hidden;
}

.index-service-item-box {
	width: 33.3%;
	float: left;
	margin: 80px 0 50px;
	text-align: center;
}

.index-service-item-box a {
	display: block;
	width: 122px;
	height: 122px;
	border: 4px solid #c0c4c0;
	border-radius: 50%;
	margin: 0 auto;
	color: #c0c4c0;
	transition: all 0.7s;
}

.index-service-item-box span {
	font-size: 75px;
	line-height: 122px;
}

.index-service-item-box h6 {
	color: #333;
	font-size: 28px;
	margin-top: 28px;
}

.index-service-item-box p {
	width: 324px;
	height: 60px;
	margin: 20px auto 0;
	color: #666;
	font-size: 14px;
	line-height: 30px;
}

.index-service-item-box a:hover {
	color: #fff;
	background-color: #77c111;
	border-color: #77c111;
}


/* iPad等移动设备屏幕 */
@media (max-width: 1200px) {
	.index-service-item-box {
		width: 50%;
	}

	.index-service-item-box p {
		width: 80%;
	}

}


/* 手机等设备屏幕 */
@media (max-width: 767px) {
	.index-service-item-box {
		width: 100%;
		margin: 40px 0 25px;
	}

	.index-service-item-box a {
		width: 96px;
		height: 96px;
		border: 2px solid #c0c4c0;
	}

	.index-service-item-box span {
		font-size: 48px;
		line-height: 96px;
	}

	.index-service-item-box h6 {
		font-size: 18px;
		margin-top: 10px;
	}

	.index-service-item-box p {
		margin: 10px auto 0;
		font-size: 12px;
		line-height: 1.5;
	}
}